
html {
    overflow-x: hidden !important;
}

.users{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color:black;
    padding:3rem;
    font-family: 'Montserrat', sans-serif !important;
    
    
}

.users h2 {
    align-items: center;
   
}

.users-container {

}

.user-info {
    font-weight: bold;
}
.card {
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
}


