.user-form {
   
   
} 

/* I used this in the home page */

.user-form{

    background: url("../../Images//hero5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items:center

}

.logout-btn {
   margin-top: 2rem;
   
}

.form-input {
 width: 120% !important;
}
                 
.userForm-input {
    margin-right: 10rem !important;
}
.form-label {
    font-weight: bold;
}


